
.header {
    background-color: #343434;
    
    padding: 10px;
    text-align: center;

    min-width: 500px;

}

.links {
    flex: 1;
    text-align: center;
}

.links a {

    display: inline-block;
    margin: 10px;   
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}


.ImageLogin {
    background-image: url("../images/login.png");
    width: 30px;
    height: 30px;
}
