body {
    font-family: Arial, sans-serif;
    background-color: #191919;

    color: #45a049;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #343434;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #2a992e;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #4CAF50;
}
