<footer class="footer">
	<div class="container">
		<div class="row">
			<h3>Контакты</h3>
			<ul class="footer-links">
				<li><a href="https://github.com/voronov-nikita">GitHub Автора</a></li>
				<li><a href="https://vk.com/voronovnr">vk.com</a></li>
				<li><a href="mailto:voronovnr_1@mail.ru">mail.ru</a></li>
				<li><a href="mailto:good.v.n.r@yandex.ru">yandex.mail</a></li>
				<li><a href="mailto:voronovn777@gmail.com">gmail.com</a></li>
			</ul>
		</div>

		<div class="row">
			<h3>Основная информация</h3>
			<ul class="footer-links">
				<li><a href="/about">О проекте</a></li>
				<li><a href="/help">Помощь</a></li>
				<li><a href="/forum">Форум</a></li>
				<li><a href="https://github.com/voronov-nikita/DiComp">GitHub</a></li>
			</ul>
		</div>

        <div class="row">
			<h3>Предложения</h3>
			<ul class="footer-links">
				<li><a href="/prog1">Распределение данных</a></li>
				<li><a href="/prog2">Распределеное хранилище</a></li>
				<li><a href="/prog3">Децентрализованная сеть</a></li>
				<li><a href="/prog4">Блокчейн</a></li>
                <li><a href="/prog5">Выделеные сервера</a></li>
			</ul>
		</div>
	</div>
</footer>
