<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/favicon.ico') }}"
			type="image/x-icon"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='help.css') }}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='header.css') }}"
		/>
		<title>HELP</title>
	</head>
	<body>
		{% include 'header.html' %}
	</body>
	{% include 'footer.html' %}
</html>
