<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DiComp</title>
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/favicon.ico') }}"
			type="image/x-icon"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='header.css') }}"
		/>
	</head>

	<body>
		{% include 'header.html' %} 
        {% include 'content.html' %}
	</body>

	<br><br>
	<br><br>
	{% include 'footer.html' %}
</html>
